<%= turbo_frame_tag Trip.new do %>
  <div class="header">
    <span>
      <h1>Trips</h1>
      <p>Explore peoples trips through simple posts with an image.</p>
    </span>
    <% if user_signed_in? %>
      <%= link_to "Create new trip",
                  new_trip_path,
                  class: "btn btn--green",
                  data: { turbo_frame: dom_id(Trip.new), action: "turbo:before-visit->toggle-button#hideButton turbo:render->toggle-button#showButton" } %>

    <% else %>
      <%= link_to "Create new trip",
                  new_user_registration_path,
                  class: "btn btn--green",
                  data: { turbo_frame: "_top" } %>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag "trips" do %>
  <%= render @trips.order(created_at: :desc) %>
<% end %>