<div class="trip container container--no_style container--wide">
  <div class="trip__layout">
    <div class="trip__posts">
      <div class="header trip__desktop-header">
        <span class="trip__header-content">
          <h1><%= @trip.name %></h1>
          <%= @trip.body %>
        </span>
        <% if current_user == @trip.user %>
          <%= link_to "Create new post",
            new_post_path(trip_id: @trip.id),
            class: "btn btn--green",
            data: { turbo_frame: dom_id(Post.new) } %>
        <% end %>
      </div>

      <%= turbo_frame_tag Post.new do %>
        <% if @trip.posts.none? %>
            <%= render "posts/empty_state" %>
          <% end %>
      <% end %>

      <%= turbo_stream_from @trip %>

      <%= turbo_frame_tag "posts" do %>
        <%= render @trip.posts.order(created_at: :desc) %>
      <% end %>
    </div>
    <div
      class="trip__large-map"
      data-controller="map"
      data-map-target="map"
      id="posts-map"
      data-points='<%= raw generated_points(@trip) %>'>
    </div>
    <div class="header trip__mobile-header">
      <span class="trip__header-content">
        <h1><%= @trip.name %></h1>
        <%= @trip.body %>
      </span>
      <% if current_user == @trip.user %>
        <%= link_to "Create new post",
          new_post_path(trip_id: @trip.id),
          class: "btn btn--green",
          data: { turbo_frame: dom_id(Post.new) } %>
      <% end %>
    </div>
  </div>
</div>