<div class="trip container container--no_style container--wide">
  <div class="trip__layout">
    <%= turbo_frame_tag dom_id(@trip) do %>
      <%= render partial: @trip,
        locals: { has_link_header: false } %>
    <% end %>

    <div class="trip__posts">
      <div class="header">
        <h2>Posts</h2>
        <span>
          <%= link_to "Back", trips_url,
                class: "btn btn--light",
                data: { turbo_frame: "_top" } %>
          <% if current_user == @trip.user %>
            <%= link_to "Create new post",
              new_post_path(trip_id: @trip.id),
              class: "btn btn--green",
              data: { turbo_frame: dom_id(Post.new) } %>
          <% end %>
        </span>
      </div>

      <%= turbo_frame_tag Post.new do %>
        <% if @trip.posts.none? %>
            <%= render "posts/empty_state" %>
          <% end %>
      <% end %>

      <%= turbo_stream_from @trip %>

      <%= turbo_frame_tag "posts" do %>
        <%= render @trip.posts.order(created_at: :desc) %>
      <% end %>
    </div>
  </div>
</div>