
<%= turbo_frame_tag dom_id(@trip) do %>
  <div class="header">
    <span>
      <h1><%= @trip.name %></h1>
      <p><%= @trip.description %></p>
    </span>
  </div>
  <div class="button-group">
    <% if current_user == @trip.user %>
      <%= link_to "Back", trips_url,
          class: "btn btn--light",
          data: { turbo_frame: "_top" } %>
      <%= link_to "Edit trip",
          edit_trip_path(@trip),
          data: { turbo_frame: dom_id(@trip) },
          class: "btn btn--orange" %>
      <%= button_to "Delete trip",
          @trip, method: :delete,
          class: "btn btn--red" %>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag Post.new do %>
  <div class="header">
    <h2>Trip posts</h2>
    <% if current_user == @trip.user %>
      <%= link_to "Create new post",
        new_post_path(trip_id: @trip.id),
        class: "btn btn--green",
        data: { turbo_frame: dom_id(Post.new) } %>
    <% end %>
  </div>
<% end %>

<%= turbo_stream_from @trip %>

<%= turbo_frame_tag "posts" do %>
  <%= render @trip.posts.order(created_at: :desc) %>
<% end %>