<%= render @trip %>

<h2>Trip posts</h2>
<div id="container posts">
  <% if current_user == @trip.user %>
    <%= render "posts/form", post: @post.presence || Post.new, trip: @trip %>
  <% end %>
  <%= turbo_stream_from @trip %>
  <% @trip.posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>
  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>
