<div class="devise-form">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="devise-form__inputs">
      <div class="field">
        <%= f.label :username %>
        <%= f.input :username,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "username", }
        %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.input :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.input :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.input :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions">
      <%= button_tag "Sign up", class: "btn btn--green", type: :submit %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>