<div class="search">
  <div class="search__bar">
    <span class="search__icon"><i class="fas fa-search"></i></span>
    <%= simple_form_for :geolocations,
      url: search_geolocations_path,
      method: :get,
      data: { controller: "search", turbo_frame: "geolocation-list", turbo_action: "advance"},
      html: { class: "search__form" } do |form| %>
      <%= form.text_field :query,
            placeholder: "Search",
            class: "search__bar-input",
            value: params[:query],
            input_html: { autofocus: true },
            data: {
              search_target: "searchInput",
              action: "input->search#search"
            }
      %>

      <%= turbo_frame_tag "geolocation-list" do %>
        <% if @geolocations %>
          <div class="search__results" data-search-target="selectBox" data-controller="geolocations">
            <%= form.fields_for :geolocations do |builder| %>
              <%= render(:partial => 'geolocations/geolocations',
                locals: {
                  form: builder,
                  geolocations: @geolocations.map { |geolocation|
                    [geolocation.address,
                    {
                      latitude: geolocation.latitude,
                      longitude: geolocation.longitude
                    }
                    ]
                  }
                }
              ) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>