<%= turbo_frame_tag trip_post do %>
  <div class="container">
    <div class="trip-post" data-turbo>
      <div class="trip-post__content">
        <section class="trip-post__section">
          <div class="trip-post__header">
            <div class="trip-post__titles">
              <h4>
                <%= trip_post.title %>
              </h4>
            </div>
            <div class="trip-post__created_at">
              <p><%= trip_post.created_at&.strftime("%B %d, %Y") %> <p>
            </div>
          </div>
        </section>
        <section class="trip-post__section">
          <div class="trip-post__body">
            <p><%= trip_post.body %></p>
          </div>
          <% if trip_post && trip_post.persisted? && current_user == trip_post.trip.user %>
            <div class="form__buttons">
              <%= button_to "Delete",
                            trip_post_path(trip_post),
                            method: :delete,
                            class: "btn btn--light" %>

              <%= link_to "Edit post",
                edit_trip_post_path(trip_post),
                class: "btn btn--primary" %>
            </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>