<%= form_with(id: "post_form", model: [@trip, post]) do |form| %>
  <div class="form">
    <% if post.errors.any? %>
      <div class="error-message">
        <%= post.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <div class="form__field">
      <% if @trip %>
        <%= form.hidden_field :trip_id, value: @trip.id %>
      <% else %>
        <%= form.hidden_field :trip_id, value: post.trip.id %>
      <% end %>
    </div>

    <div class="form__field">
      <%= form.label :title %><br />
      <%= form.text_field :title,
        class: "form__input form__input--dark",
        input_html: { autofocus: true } %>
    </div>

    <div class="form__field">
      <%= form.label :body %><br />
      <%= form.text_area :body,
        class: "form__input form__input--dark",
        size: "30x3", required: true %>
    </div>

    <div class="form__actions">
      <%= form.submit class: "btn btn--green" %>
      <% if post.persisted? %>
        <%= link_to "Cancel", trip_url(@trip),
            class: "btn btn--light" %>
      <% end%>
    </div>
  </div>
<% end %>