<%= form_with(id: "post_form", model: [@trip, @post]) do |form| %>
  <div class="form post">
    <div class="form__field">
      <% if @trip %>
        <%= form.hidden_field :trip_id, value: @trip.id %>
      <% else %>
        <%= form.hidden_field :trip_id, value: @post.trip.id %>
      <% end %>
    </div>

    <div class="post__header">
      <div class="form__field">
        <%= form.text_field :title,
          class: "form__input form__input--dark form__input--h4",
          placeholder: "Add a title",
          autofocus: true %>
      </div>
    </div>

    <div class="form__field post__form-body">
      <%= form.rich_text_area :body,
        placeholder: "Add a description",
        class: "form__input form__input--dark form__input--body",
        size: "30x3", required: true %>
      <% if @post.image.attached? %>
        <div class="post__form-image">
          <%= image_tag(post.image_as_thumbnail) %>
          <%= form.check_box :remove_image %>
          <%= form.label :remove_image, "Remove image" %>
        </div>
      <% end %>
    </div>

    <div data-controller="geolocation" class="form__location-search">
      <%= form.hidden_field :latitude, id: 'latitude', data: { geolocation_target: 'latitude' } %>
      <%= form.hidden_field :longitude, id: 'longitude', data: { geolocation_target: 'longitude' } %>
      <div class="form__field">
        <%= form.label :location %>
        <%= form.text_field :address,
          class: "form__input form__input--dark",
          data: { geolocation_target: 'address' },
          id: 'address',
          readonly: true %>
      </div>
      <button
        class="btn btn--green"
        type="button"
        data-action="click->geolocation#findLocation">
        <i class="fas fa-location-dot icon__edit"></i>
      </button>
    </div>

    <div>
      <% unless @post.image.attached? %>
        <div class="form__field">
          <%= form.label :image %>
          <%= form.file_field :image, accept: 'image/png,image/jpeg', class: "form__input form__input--dark" %>
        </div>
      <% end %>
    </div>

    <div class="form__actions">
      <%= form.submit class: "btn btn--green" %>
      <%= link_to "Cancel", trip_url(@trip),
          class: "btn btn--light" %>
    </div>

    <% if @post.errors.any? %>
      <div class="error-message">
        <%= @post.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>
  </div>
<% end %>