<%= form_with(id: "post_form", model: [@trip, post]) do |form| %>
  <div class="form">
    <% if post.errors.any? %>
      <div class="error-message">
        <%= post.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <fieldset class="form__input">
      <% if @trip %>
        <%= form.hidden_field :trip_id, value: @trip.id %>
      <% else %>
        <%= form.hidden_field :trip_id, value: post.trip.id %>
      <% end %>
      <%= form.text_field :title, input_html: { autofocus: true } %>
      <%= form.text_area :body %>
    </fieldset>

    <fieldset>
      <div class="form__buttons">
        <%= form.submit class: "btn btn--secondary" %>
        <%= link_to "Cancel", trip_url(@trip),
            class: "btn btn--light" %>
      </div>
    </fieldset>
  </div>
<% end %>