<%= turbo_frame_tag dom_id(post) do %>
  <div class="post container">
    <div class="post__content">
      <section class="post__section">
        <div class="post__header">
          <div class="post__titles">
            <h4>
              <%= post.title %>
            </h4>
          </div>
          <div class="post__created_at">
            <p><%= post.created_at&.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </section>
      <section class="post__section">
        <div class="post__body">
          <p><%= post.body %></p>
        </div>
        <% if post && post.persisted? && current_user == post.trip.user %>
          <div class="form__buttons">
            <%= button_to "Delete",
                          post_path(post),
                          method: :delete,
                          class: "btn btn--light" %>

            <%= link_to "Edit post",
              edit_post_path(post),
              class: "btn btn--primary" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
<% end %>