<%= turbo_frame_tag dom_id(post) do %>
  <div class="post">
    <div class="post__content">
      <div class="post__header">
        <h4>
          <%= post.title %>
        </h4>
        <p class="post__address"><%= post.address %></p>
      </div>
      <div class="post__body-header">
        <% if post.created_at.to_i == post.updated_at.to_i %>
          <p>
            <%=
              link_to post.user.username,
              url_for(
                controller: '/users',
                action: 'show',
                username: post.user.username
              ),
              class: "text__link",
              data: { turbo_frame: "_top" }
            %>
            created this post on <%= post.updated_at&.strftime("%B %d, %Y") %>
          </p>
        <% else %>
          <p>
            <%=
              link_to post.user.username,
              url_for(
                controller: '/users',
                action: 'show',
                username: post.user.username
              ),
              class: "text__link",
              data: { turbo_frame: "_top" }
            %>
            edited this post on <%= post.updated_at&.strftime("%B %d, %Y") %></p>
        <% end %>

        <% if current_user == post.user %>
          <div class="dropdown" data-controller="dropdown"
              data-action="click->dropdown#toggle click@window->dropdown#hide"
              data-dropdown-target="checkbox"
              id="togglenav"
              type="checkbox">
              <div data-dropdown-target="icon" class="icon">
                <i class="fas fa-ellipsis icon__edit">
                </i>
              </div>

            <div data-dropdown-target="menu" class="dropdown__menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <%= link_to "Edit post",
                edit_post_path(post),
                class: "dropdown__menu-item" %>
              <%= button_to "Delete post",
                post_path(post),
                method: :delete,
                form: { data: { 'turbo-confirm': 'Are you sure?' } },
                class: "dropdown__menu-item dropdown__menu-item--danger" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="post__body">
        <% if post.image.attached? %>
          <div class="post__image">
            <%= link_to image_tag(post.image_as_thumbnail), post.image %>
          </div>
        <% end %>
        <div class="post__body-text">
          <%= post.body %>
        </div>
      </div>
    </div>
  </div>
<% end %>