<%= turbo_frame_tag dom_id(post) do %>
  <div class="post container">
    <div class="post__content">
      <section class="post__section">
        <div class="post__header">
          <div class="post__titles">
            <h4>
              <%= post.title %>
            </h4>
          </div>
          <% if post.updated_at != post.created_at %>
            <div class="post__updated_at">
              <p>
                <%=
                  link_to post.user.username,
                  url_for(
                    controller: '/users',
                    action: 'show',
                    username: post.user.username
                  ),
                  class: "text__link",
                  data: { turbo_frame: "_top" }
                %>
                created this post on <%= post.updated_at&.strftime("%B %d, %Y") %>
              </p>
            </div>
          <% else %>
            <div class="post__created_at">
              <p><%= post.user.username%> edited this post on <%= post.updated_at&.strftime("%B %d, %Y") %></p>
            </div>
          <% end %>
        </div>
      </section>
      <section class="post__section">
        <div class="post__body">
          <p><%= post.body %></p>
        </div>
        <% if post && post.persisted? && current_user == post.trip.user %>
          <div class="post__actions">
            <%= link_to "Edit post",
              edit_post_path(post),
              class: "btn btn--orange" %>
            <%= button_to "Delete",
                post_path(post),
                method: :delete,
                class: "btn btn--red" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
<% end %>